{% extends "master.html" %}

{% block content %}
<main role="main" class="container mb-5 mt-5">
    <div class="row">
        <form action="/createPost/" method="post">
            <div class="col-md-12 mb-3">
                <label for="title">Titulo</label>
                <input type="text" class="form-control mb-2 mr-sm-2" id="title" name="title">
            </div>
            <div class="col-md-12 mb-3">
                <label for="text">Texto del post</label>
                <textarea class="form-control" id="text" name="text" required></textarea>
            </div>
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary mb-2">Enviar</button>
            </div>
        </form>
    </div>
</main>

{% endblock %}